.chat-side
    .side-header
        .side-header__user-name seo
        .side-header__menu
            = link_to "#" do
                .fa.fa-edit.icon
            = link_to "#" do
                .fa.fa-cog.icon
    .group
        .group__name
            sample2
        .group__message
            まだメッセージがありません
        .group__name
            sample1
        .group__message
            Good bye World!