.chat-side
    .side-header
        .side-header__user-name 
            = current_user.name
        .side-header__menu
            = link_to new_group_path do
                .fa.fa-edit.icon
            = link_to edit_user_path(current_user) do
                .fa.fa-cog.icon
    .group
        .group__name
            sample2
        .group__message
            まだメッセージがありません
        .group__name
            sample1
        .group__message
            Good bye World!